body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
  color: #232340;
  background-color: #EDE5F081;
  background-image: url("../assets/images/line-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.5043) 100%);
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 32px 0px 32px;
}
.cabecalho__menu {
  border:none; 
  background-color:#EDE5F081;
} 
.principal{
  margin: 38px 32px 80px 33px;
}
.text-line{
  display: flex;
  font-size: 14px;
  color: #5468E7;
}
.title{
  font-size: 40px;
  padding-right: 116px;
}
.text-number{
  margin-right: 24px;
  color: #5468E7;
}

.btn-link{
  border: none;
  background-color: #EDE5F081;
}
main.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 0px 32px;
}
main.cards section.card1{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background: #FFFFFF;
  border-radius: 32px;
  margin-top: 56px;
  margin-bottom: 24px;
  padding: 49px 78px 49px 48px;
}
main.cards section.card2{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background: #5468E7;
  border-radius: 32px;
  margin-bottom: 24px;
  padding: 49px 70px 46px 48px;
}
main.cards section.card3{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background: #FFFFFF;
  border-radius: 32px;
  margin-bottom: 24px;
  padding: 49px 63px 49px 48px;
}
main.cards section.card4{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background: #FFFFFF;
  border-radius: 32px;
  margin-bottom: 40px;
  padding: 49px 35px 49px 48px;
}
.content-service{
  margin-top: 40px;
  margin-left: 32;
  margin-right: 116;
}
.text-content-service{
  display: flex;
  font-size: 14px;
}
.number-line{
  margin-right: 24px;
  color: #8B8B8B;
}
.text-line{
 font-size: 14px;
 color: #232340;
}
.title-line{
  font-size: 24px;
  padding: 0px 145px 0px 0px;
  color: #232340;
}
.number-line-2{
  font-size: 140px;
  color: #5468E7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.text-line-2{
  font-size: 18px;
}
.principal-footer {
  background-image: url("../assets/images/line-blue.svg");
  background-color: #5468e7;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  border-radius: 24px;
  padding: 49px 50px 32px 50px;
  margin: 80px 32px 20px 32px;
}
.img-footer {
  margin-left: 40px;
}
.text-line-1 {
  font-size: 14px;
  margin-bottom: 40px;
}
.text-line-2 {
  font-size: 18px;
  margin-bottom: 75px;
}
.text-line-3 {
  font-size: 32px;
  margin-bottom: 35px;
}
.icons {
  display: flex;
  align-items: center;
}
.icon-link {
  background: none;
  border: none;
  padding-right: 8px;
}
.btn-link-error {
  font-weight: bold;
  border: none;
  text-decoration: none;
  transition: background 0.3s;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 16px;
  color: #5468e7;
  padding: 17px 60px;
}
.secundaria-footer {
  color: #adadad;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  padding: 80px 32px 34px 32px;
}
.img-logo {
    margin-top: 10px;
}
.text-1 {
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 30px;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-right: 30px;
}
a{
  text-decoration: none;
}

.container {
  width: 200px;
  position: relative;
}

.click {
  background-color: #ffffff;
}

.click:hover {
  background-color: #ffffff;
}

.click,
.links {
    display: block;
  padding: 16px 210px 16px 24px;
  font-size: 12px;
  border: 2px solid;
  outline: none;
  border-radius: 6px;
  border-color: #d8d8d8;
  width: 200px;
  color: #606060;
  transition: 0.3s;
}
.hover {
  display: block;
}

.img-hover {
  margin-left: 170px;
}

.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #ffffff;
}

.links:hover {
  background-color: #d8d8d8;
  transform: scale(1.1);
}
.icons {
    margin-left: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.text-2 {
    margin-bottom: 34px;
}
